{
    "presets": [[
      "@babel/preset-env", {
        "useBuiltIns": "entry"
      }],
      "@babel/preset-react"
    ],
    "plugins": [
      ["@babel/plugin-proposal-decorators", {
        "legacy": true
      }],
       "@babel/plugin-syntax-class-properties",
       "@babel/plugin-proposal-class-properties",
       "@babel/plugin-proposal-object-rest-spread",
       "@babel/plugin-proposal-export-default-from",
       "react-hot-loader/babel", 
       "@babel/plugin-transform-modules-commonjs",
       "@babel/plugin-syntax-dynamic-import",
       "babel-plugin-styled-components",
       "react-loadable/babel"
    ]
}
