.footer {
  &-vendor {
    &__wrap {
      margin-top: 64px;
      padding-left: 50px;
      padding-bottom: 80px;
    }
  }
}

@media screen and (max-width: 976px) {
  .footer {
    &-vendor {
      &__wrap {
        margin-top: 22px;
        padding-left: 20px;
        padding-bottom: 80px;
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .footer {
    &-vendor {
      &__wrap {
        margin-top: 22px;
        padding-left: 20px;
        padding-bottom: 80px;
      }
    }
  }
}
