.selector {
  &-curr {
    width: 200px;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
    color: var(--base-input-name);
    border: none;
    border-radius: var(--border-input);
    background: rgba(54, 58, 62, 0.08);
    font-size: 16px;
    line-height: 40px;
  }
  &__enabled {
    position: relative;
    padding: 10px 0;

    cursor: pointer;
    transition: 0.3s ease;
    color: var(--base-input-name);
    &:nth-child(n + 2) {
       border-top: 1px solid rgba(54, 58, 62, 0.08);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -1px;
      left: -16px;
      width: 0;
      height: calc(100% + 1px);
      transition: 0.3s ease;
    }
    &:hover::before {
      width: calc(100% + 32px);
      transition: 0.3s ease;
      background: rgba(54, 58, 62, 0.08);
    }
  }
  &-list {
    position: absolute;
    z-index: 99;
    top: 10px;
    overflow: hidden;
    width: 100%;
    padding: 0 16px;
    border-radius: var(--border-input);
    background: #fff;
    box-shadow: 0 0 12px rgba(54, 58, 62, 0.2);
  }
  &-env {
    position: relative;
  }
}

@media screen and (max-width: 766px) {
  .selector {
    &-curr {
      width: 100%;
    }
  }
}
