.vendor {
  &__header {
    padding-top: 40px;
    &-body {
      padding-top: 124px;
    }
    &-label {
      color: var(--base-color);
      position: relative;
      display: block;
      z-index: 2;
      width: 80%;
      letter-spacing: 2px;
      font-size: 40px;
      line-height: 47px;
    }
  }
  &__converter {
    position: relative;
    &::before {
      bottom: 60px;
      left: 0;
      background: var(--background);
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &-link {
      margin-top: 28px;
      margin-bottom: 26px;
      &_title {
        text-decoration: none;
        font-size: 12px;
        color: var(--base-input-name);
      }
    }
    &-wrap {
      background: var(--base-color);
      position: relative;
      z-index: 99;
      border-radius: var(--border-standard-sm);
      box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2);
    }
    &-body {
      display: flex;
      flex-basis: auto;
      align-items: baseline;
      flex-wrap: wrap;
      padding: 28px 40px 36px;
    }
    &-item {
      display: flex;
      justify-content: flex-start;
      flex-direction: column-reverse;
      &_changer {
        padding: 0 16px;
        img {
          transition: 0.3s ease;
        }
        cursor: pointer;
      }
      &__button {
        background: var(--button);
        color: var(--base-color);
        border: none;
        border-radius: var(--border-standard-sm);
        padding: 11px 30px;
        font-weight: 500;
        outline: none;

        &:disabled {
          opacity: 0.5;
        }
      }
      label {
        font-size: 12px;
        line-height: 14px;
        color: var(--base-input-name);
        margin-bottom: 10px;
        font-weight: 500;
      }
      input {
        outline: none;
        height: 40px;
        padding: 0 16px;
        background: rgba(54, 58, 62, 0.08);
        border-radius: var(--border-input);
        border: none;
        color: var(--base-input-name);
        width: 200px;
      }

      &:first-child,
      &:nth-child(4) {
        margin-right: 24px;
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .vendor {
    &__header {
      &-body {
        padding-top: 65px;
      }
      &-label {
        color: var(--base-color);
        position: relative;
        display: block;
        z-index: 2;
        letter-spacing: 2px;
        font-size: 40px;
        line-height: 47px;
      }
    }
    &__converter {
      &::before {
        top: -5px;
        left: 0;
        background: var(--background);
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
      }
      &-wrap {
        width: 100%;
        //transform: translateY(-2rem);
      }
      &-body {
        justify-content: flex-end;
      }
      &-item {
        width: 100%;
        &_changer {
          position: relative;
          img {
            position: absolute;
            top: 16px;
          }
        }
        &:first-child,
        &:nth-child(4) {
          margin-right: 0;
        }

        &:nth-child(n + 2) {
          margin-top: 20px;
        }
        input {
          width: 100%;
        }
      }
    }
  }
}
