@import "./colors.scss";
@import "./fonts.scss";
@import "./order.scss";
@import "./form.scss";
@import "../../../node_modules/normalize.scss/normalize.scss";
@import "./order.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
}


.error {
  &_page {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--base-input-name);
    content: "";
    width: 100%;
    height: 100%;
  }
  position: absolute;
  top: 50%;
  left: 50%; 
  opacity: 0.5;
  transform: translate(-50%, -50%); 
  font-family: "Roboto Light", sans-serif;
  font-size: 24px; 
  color: var(--base-color);

}
.container {
  padding: 0 60px;
  width: 100%;
  margin: 0 auto;
}

.sub_container {
  padding-top: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
#customVendor {
  z-index: -1;
  background: #eef4f7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

li,
ul,
nav {
  margin: 0;
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  font-family: "Roboto Regular", sans-serif;
}

@media screen and (max-width: 766px) {
  .container {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }

  .sub_container {
    padding-top: 65px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
